{# Uses twig syntax for all html #}
<div class="row">
	<div class="col-md-12">
		<h4>This is what would be in the output</h4>
		<p>$arg1 = {{ argument1 }}</p>
		<p>$arg2 = {{ argument2 }}</p>
		{% if optionalArgument %}
		<p>$optionalArg = {{ optionalArgument }}</p>
		{% endif %}
	</div>
</div>