<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Hotfix Audit</h3>
	</div>
	<div class="panel-body" id="hotfix_audit">
		<p>This will list any hotfixes that are on the production branch that aren't in the development branch</p>
		<div class="form-group">
			<label for="productionBranch">Production Branch:</label>
			<input type="text" class="form-control" id="productionBranch" placeholder="master">
		</div>
		<div class="form-group">
			<label for="developmentBranch">Development Branch:</label>
			<input type="text" class="form-control" id="developmentBranch" placeholder="dev">
		</div>
		<button type="submit" class="btn btn-primary btn-block">Show me some hotfixes!</button>
	</div>
</div>
