{# Right now, each widget is a panel, but you can really put whatever you want here #}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Example Widget</h3>
	</div>
	<div class="panel-body">
		<p>An example widget for you to see how things work</p>
		<form id="example">
			<div class="form-group">
				<label for="auditSinceBranch">Argument 1</label>
				{# The id should match the argument in Processor->run() #}
				<input type="text" class="form-control" id="arg1" placeholder="arg1">
			</div>
			<div class="form-group">
				<label for="commitRegex">Argument 2</label>
				<input type="text" class="form-control" id="arg2" placeholder="arg2">
			</div>
			<div class="form-group">
				<label for="auditSince">Optional Argument</label>
				{# Optional arguemnts, if not filled out, will get the default value set in Processor->run() #}
				<input type="text" class="form-control" id="optionalArg" placeholder="optionalArg">
			</div>
			{# The button to run the command needs the type="submit" attribute #}
			<button type="submit" class="btn btn-primary btn-block">Run stuff</button>
		</form>
	</div>
</div>
